*{
    margin:0;
    padding: 0;
    font: sans-serif;
}
.hero 
{
    height: 100%;
    width: 100%;
    background-image:
  linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
  url('https://mdn.mozillademos.org/files/7693/catfront.png');
     background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box
{
    width: 380px;
    height: 450px;
    background-color: black;
    position:relative;
    margin:6% auto;
    background: #fff;
    padding: 5px;  
    overflow: hidden; 
    background:	#E8E8E8;
}

.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f ;
    border-radius: 30px;
}
.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn
{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group
{
    top:180px;
    position:absolute;
    width:280px;
    transition:.5s

}
.input-field
{
    width:100%;
    padding: 10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.span{
     color: #777;
     font-size:12px;
     bottom: 68px;
     position: absolute;
}
#register
{
    left: 450px;
}
#login
{
    left:  50px;
}

.error{
	background:#ff1515;
	color:white;
	line-height:30px;
	border-radius:5px;
    height:30px;
    margin-right: 30px;
    margin-left: 30px;
	text-align:center;
	margin-bottom:10px;
}
.sucess
{     
        float: right;
   
        background:green;
        color:white;
        line-height:30px;
        border-radius:5px;
        height:30px;
        margin-right: 50%;
        margin-left: 30%;
        text-align:center;
        margin-bottom:10px;
    
}

.style2 {
	border-top: 9% double blue;
}

.wrapper
{
    background-color: orange;
    width: 15%;
    height: 80%;
}
.wrapper ul li
{
    margin-left: 50px;
    padding-top: 40px;
    text-decoration: none;
    list-style: none;
}

.wrapper a{
    color:white;
    font:  sans-serif;
    font-weight: 600;
    font-style: bold;
    text-decoration: none;
}

a:hover{
    color: black;
}

#icon
{
    padding-right: 5px;
}

#but
{
    margin-right: 20px;
    background-color: orange;
    border: orangered;

}
#top
{
       float:right;

}#top h1
{
    text-align: center;
}


#footer
{ 
    clear: both;
 
    min-width: 100%;
   
    background-color:gray;
}

#header
{
    text-align: center;
    padding-right: 20%;
    margin-top: 10px;
}



 #main ul li{
    list-style: none;
    width: 20%;
    display: inline-block;
   margin-top: 10%;
   margin-right: 20px;
}

#reg
{
    margin-right: 15%;
    margin-top:7% ;
    background-color: orange;
    padding: 10px;
    border-radius: 30%;
    outline: none;
}

table{
    margin-top: 70px;
    margin-left: 10%;
    width:60%;
    border-collapse:collapse;
}

table td,table th{
    border:2px solid orange;
    padding:5px;
}

#nu ul li
{
    width: 40%;
    list-style: none;
    margin-top: 3%;
    margin-left: 20%;
}

.hmain 
{
    margin-right: 10%;
}